@model assignment1.Models.Game

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Html.DisplayFor(model=>model.Title)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Developer)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
